@use './helpers/' as *;

body {
	@include fluid-text(14, 10);


	font-family: var(--font-family-base);
	color: var(--color-dark);
	background-color: var(--color-light-rose);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: var(--color-dark);
	font-weight: 400;
}

h1, .h1,
h2, .h2 {
	font-family: var(--font-family-base);
}

h4,.h4,
h5,.h5,
h5,.h6 {
  font-weight: 400;
	@include fluid-text() 
}

h1,.h1 {
  @include fluid-text(70, 30);
  line-height: 1.2;
}
h2,.h2 {
  @include fluid-text(58, 28);
  line-height: 1.3;
}
h3,.h3 {
  @include fluid-text(40, 24);
}
h4,.h4 {
  @include fluid-text(26, 18);
}
h5,.h5 {
  @include fluid-text(24, 18);
}

h6,.h6 {
  @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}
