@import './normalize.css';
@font-face {
  font-family: "YesevaOne-Regular";
  src: url(../fonts/YesevaOne-Regular.woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa-Regular";
  src: url(../fonts/Comfortaa-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa-SemiBold";
  src: url(../fonts/Comfortaa-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa-Bold";
  src: url(../fonts/Comfortaa-Bold.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-light-gray: #FAFAFA;
  --color-light-rose: #FFF8F3;
  --color-braun: #7B6152;
  --color-braun-gray: #A5978E;
  --color-braun-rose:#A5978E;
  --color-accent: #FFBD59;
  --color-red:#834f58;
  --color-dashed: rgb(255, 132, 0);
  --color-icon: #BEA495;
  --border: 0.0625rem solid var(--color-braun-gray);
  --font-family-base:'Comfortaa-Regular' sans-serif;
  --font-family-accent:'YesevaOne-Regular' sans-serif;
  --container-width:90rem;
  --container-padding-x:0.625rem;
  --transition-duration: 0.2s;
}
@media (width <= 62.56125rem) {
  :root {
    --container-width:60rem;
  }
}
@media (width <= 48.06125rem) {
  :root {
    --container-width:40rem;
  }
}
@media (width <= 30.06125rem) {
  :root {
    --container-width:30rem;
  }
}
@media (width <= 22.56125rem) {
  :root {
    --container-width:22.5rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 30.06125rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 30.06125rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(0.625rem, 0.5416666667rem + 0.3703703704vw, 0.875rem);
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-light-rose);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
  font-weight: 400;
}

h1, .h1,
h2, .h2 {
  font-family: var(--font-family-base);
}

h4, .h4,
h5, .h5,
h5, .h6 {
  font-weight: 400;
  font-size: clamp(0.6875rem, -0.0833333333rem + 3.4259259259vw, 3rem);
}

h1, .h1 {
  font-size: clamp(1.125rem, 0.4583333333rem + 2.962962963vw, 3.125rem);
  line-height: auto;
}

h2, .h2 {
  font-size: clamp(0.9375rem, 0.4166666667rem + 2.3148148148vw, 2.5rem);
  line-height: auto;
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.1666666667rem + 1.4814814815vw, 2.5rem);
  line-height: auto;
}

h4, .h4 {
  font-size: clamp(0.5rem, 0.3958333333rem + 0.462962963vw, 0.8125rem);
  line-height: auto;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.1875rem dashed var(--color-dashed);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.icon {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3125rem;
  color: var(--color-icon);
}
.icon::before {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
}

.logo {
  max-width: clamp(0.625rem, -0.625rem + 5.5555555556vw, 4.375rem);
}

.header_body {
  padding-block: 1.6875rem;
}
.header_body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
@media (width > 30.06125rem) {
  .header_overlay {
    display: contents;
  }
}
.header_menu-list {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.header_menu-item {
  text-transform: uppercase;
}
.header_menu-link {
  padding: 0.25rem 0.875rem;
  font-family: var(--font-family-accent);
  font-weight: 400;
}
.header_menu-link.is-active {
  color: var(--color-dashed);
}

/*# sourceMappingURL=main.css.map */
